{%extends 'base.html'%} {%block content%} {% load static %}
<section class="content">
  <div class="header">
    <img
      class="twitter_icon"
      src="{% static 'img/twitter.png'%}"
      alt="twitter icon"
    />
    <h1>Edit</h1>
  </div>
  <section class="post_form">
    <img class="cubes" src="{% static 'img/cubes.png'%} " alt="cubes" />
    <form
      action="/edit/{{posts.id}}/"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Name"
        value="{{posts.name}}"
        maxlength="14"
        required
      />
      <textarea
        name="body"
        placeholder="{{posts.body}}"
        maxlength="140"
      ></textarea>
      <!-- <div class='bottom-area'>
            <div class='file'>
                <input name='folder' type='file'>
        </div>
        <button class='btn' type='submit'>Tweet</button>   -->
         
      {% if posts.image.url %}
      <img class="Image" src="{{posts.image.url}}" style="width: 250px; height: 200px;  margin-left: 10%;" />
      {% endif %}
      <input id="uploadfile" type="file" name="image" />
      <div class="bottom-area">
        <a href="{% url 'index' %}" id="cancel" type="submit">Cancel</a>
        <input id="btn" type="submit" value="Update" />
      </div>
    </form>
  </section>
</section>

{%endblock%}
